body
{
	min-width: 920px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
    background: url(/site_media/img/octo.jpg) no-repeat 0 0;	
background-attachment:fixed;
}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-weight: bold;
}

p
{
	display: block;
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

ol, ul
{
	display: block;
	margin: 0 0 0 2em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

a
{
	color: #06c;
}

a:hover
{
	color: #69c;
}

a:visited
{
	color: #900;
}

img, img a
{
	border: 0;
}

.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */

#container
{
	width: 900px;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
}

/* ---- Primary navigation block elements ---------- */
#primarynav
{
	width: 900px;
	height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
	background-color: #333;
}

#primarynav ul
{
	float: left;
	height: 30px;
	margin: 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
}

#primarynav #leftside ul
{
	float: left;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	margin: 3px;
	padding: 0 0.5em;
	border: 0;
	background-color: #ccc;
	line-height: 24px;
}

#primarynav li:hover
{
	background-color: #fc9;
}

#primarynav a
{
	color: #999;
	text-decoration: none;
}

#primarynav a:hover
{
	color: #c00;
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover

	color: #fff;
	
}

#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 900px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
	background-color: #fff;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 1em 0;
	border: 0;
	width: 498px;
	z-index: 5;
}

ol, ul {
  list-style: none;
}

#takoapp {
  width: 960px;
  margin: 0 auto 40px;
  background: white;
  padding: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
  #takoapp h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 30px 0;
    line-height: 1;
  }

#create-node {
  position: relative;
}
  #create-node input {
    width: 900px;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  }
    #create-node input::-webkit-input-placeholder {
      font-style: italic;
    }
  #create-node span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }

#node-list {
  margin-top: 10px;
}
  #node-list li {
    padding: 2px;
    position: relative;
    font-size: 16px;
    line-height: 1.1em;
  }
    #node-list li:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    #node-list li.editing {
      padding: 0;
      border-bottom: 0;
    }
  #node-list .editing .display,
  #node-list .edit {
    display: none;
  }
  #node-list .editing>.node>.edit {
      display: block;
    }
    #node-list .editing input[type="text"] {
      width: 100%;
      font-size: 24px;
      font-family: inherit;
      margin: 0;
      line-height: 1.6em;
      border: 0;
      outline: none;
      padding-bottom: 2px;
      border: 1px solid #999999;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    }
    #node-list .editing textarea {
	width: 100%;
	height: 75px;
    }

  #node-list .create-child {display: none;}
  #node-list .adding-child>.node>.create-child {display: block;}

  .details {
      display: none;
  }

  .display:hover>.details {
      display: block;
      position: absolute;
      background-color: #eee;
      width: 800px;
      border: #000 solid 2px;
      padding: 5px;
      z-index: 99;
}

  #node-list .children {
    display: none;
  }
  #node-list .showing-children>.node>.children {
    display:block;
  }
  #node-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
  }
  #node-list .done .node-label {
    text-decoration: line-through;
    color: #777777;
  }
  #node-list .node-destroy {
    position: absolute;
    right: 5px;
    top: 0px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(/site_media/img/destroy.png) no-repeat 0 0;
  }

  #node-list .add-child {
   position: absolute;
   right: 30px;
   top: 0px;
   display: none;
   background-color:#ccc;
   color:#fff;
  }

  #node-list .go {
      position: absolute;
      right: 50px;
      top: 0px;
      display: none;
      background-color:#ccc;
      color: #fff;
      font-size: .9em;
  }

  .go a{ color: #fff; text-decoration: none;}

  #node-list .edit-node {
   position: absolute;
   right: 50px;
   top: 0px;
   display: none;
   background-color:#ccc;
   color:#fff;
  }

.node-label {border-bottom: #eee solid 1px;}

  #node-list li:hover .node-label:hover { 
      background-color: #eee;
border-bottom: #666 solid 1px;}

  #node-list .display:hover>.add-child { display: block;}
  #node-list .display:hover>.go { display: block;}
  #node-list .display:hover>.edit-node { display: block;}

  #node-list .add-child:hover { background-color:#000; color: #fff;}
  #node-list .go:hover { background-color:#000; color: #fff;}
  #node-list .edit-node:hover { background-color:#000; color: #fff;}

  .add-child-input {
    width: 100%;

      font-size: 20px;
      font-family: inherit;
      margin: 0;
      line-height: 1.6em;
  }

  #node-list .node-children-expander {
   position: absolute;
   left: -15px;
  }
  #node-list .display:hover>.node-destroy {
      display: block;
  }
  #node-list .node-destroy:hover {
      background-position: 0 -20px;
  }

#item-template {display:none;}

#node-page {
   background-color: #fff;
}
.timeline {
font-size: .8em;
color: #999;
}
.breadcrumbs {
    border-bottom: #000 solid 1px;
    font-size: .8em;
}
.breadcrumbs a {
color: #000;
text-decoration: none;
font-weight: bold;
}

#search {
position: absolute;
top: 0px;
right: 0px;
}
#search input {
border: none;
background-color: #666;
color: #fff;
}
