body
{
	min-width: 920px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-weight: bold;
}

p
{
	display: block;
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

ol, ul
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

a
{
	color: #06c;
}

a:hover
{
	color: #69c;
}

a:visited
{
	color: #900;
}

img, img a
{
	border: 0;
}

.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */

#container
{
	width: 900px;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
}

/* ---- Primary navigation block elements ---------- */
#primarynav
{
	width: 900px;
	height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
	background-color: #333;
}

#primarynav ul
{
	float: left;
	height: 30px;
	margin: 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
}

#primarynav #leftside ul
{
	float: left;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	margin: 3px;
	padding: 0 0.5em;
	border: 0;
	background-color: #ccc;
	line-height: 24px;
}

#primarynav li:hover
{
	background-color: #fc9;
}

#primarynav a
{
	color: #999;
	text-decoration: none;
}

#primarynav a:hover
{
	color: #c00;
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
	
}

#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 900px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
	background-color: #fff;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 1em 0;
	border: 0;
	width: 498px;
	z-index: 5;
}

