{% extends "base.html" %}
{% load markup %}

{% block js %}
    <script src="/site_media/js/json2.js"></script>
    <script src="/site_media/js/jquery-1.5.js"></script>
    <script src="/site_media/js/underscore-1.1.6.js"></script>
    <script src="/site_media/js/backbone.js"></script>
    <script src="/site_media/js/tako.js"></script>
{% endblock %}

{% block content %}

<div id="takoapp">

      <div class="content">

        <div id="create-node">
          <input id="new-node" placeholder="Add item" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="nodes">
          <ul id="node-list"></ul>
        </div>
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="node ">
        <div class="display">
          <span class="children-expander"><%= children_count ? '+' : '-' %></span>
          <div class="node-label"></div>
          <span class="node-destroy"></span>
        </div>
        <div class="edit">
          <input class="node-input" type="text" value="" />
        </div>
      </div>
    </script>

<script>

</script>

{% endblock %}
