{% extends "base.html" %}
{% load markup %}

{% block js %}
    <script src="/site_media/js/json2.js"></script>
    <script src="/site_media/js/jquery-1.5.js"></script>
    <script src="/site_media/js/underscore-1.1.6.js"></script>
    <script src="/site_media/js/backbone.js"></script>
{% endblock %}

{% block content %}
{% if node %}
<h1>{{node.label}}</h1>
{% if node.details %}
{{node.details|markdown}}
{% endif %}
{% endif %}
<ul>
{% for node in nodes %}
<li>{% if node.get_children_count %} + {% else %} - {% endif %} <a href="{{node.get_absolute_url}}">{{node.label}}</a></li>
{% endfor %}
<form action="add/" method="post">
<li>add: <input type="text" name="label" /></li>
</form>
</ul>
{% endblock %}
