{% extends "base.html" %}
{% load markup %}

{% block title %}lists in lists in lists...{% endblock %}

{% block js %}
    <script src="/site_media/js/json2.js"></script>
    <script src="/site_media/js/jquery-1.5.js"></script>
    <script src="/site_media/js/underscore-1.1.6.js"></script>
    <script src="/site_media/js/backbone.js"></script>
    <script src="/site_media/js/jquery-ui-1.8.16.custom.min.js"></script>
    <link rel="stylesheet" href="/site_media/css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen"/>
    <script src="/site_media/js/tako.js"></script>
{% endblock %}

{% block content %}

<div id="takoapp">

      <div class="content">

        <div id="create-node">
          <input id="new-node" placeholder="Add item" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="nodes">
          <ul id="node-list"></ul>
        </div>
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="node " id="<%= htmlId %>">

        <div class="display">
          <span class="node-children-expander"><%= children_count ? '+' : '*' %></span>
          <div class="node-label"></div>
	  <span class="add-child">[+]</span>
          <span class="node-destroy"></span>
	  <div class="details"><%= details_rendered %></div>
        </div>


        <div class="edit">
          <input class="node-input" type="text" value="" />
	  <textarea name="details" class="node-details-input">
	  </textarea>
	  <input type="submit" value="save" class="node-save" />
        </div>

        <div class="create-child">
          <input placeholder="Add child" type="text" class="add-child-input" /> 
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

	<div class="children">
	  <ul class="children-node-list">
	  </ul>
	</div>


      </div>
    </script>

<script>

</script>

{% endblock %}
